# AULA 16 - Noções do pacote PANDAS -  parte C
## Algoritmos e Estrutura de Dados I - Prof. Piva
-----------

### Dividindo Strings em DataFrames com Pandas (split)
Com Pandas, podemos fazer várias tarefas de divisão (split) de strings, dividindo colunas ou extraindo elementos.

In [1]:
# Importando o Pandas
import pandas as pd
# Verificando a Versão do Pandas
pd.__version__

'2.2.2'

In [2]:
# Importando um dataset que está em um arquivo CSV
df = pd.read_csv("dataset.csv")

In [3]:
df.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-BO-10001798,Furniture,Bush Somerset Collection Bookcase,261.9600,NaN
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-CH-10000454,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,NaN
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,United States,West,OFF-LA-10000240,Office Supplies,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
4,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,OFF-ST-10000760,Office Supplies,Eldon Fold 'N Roll Cart System,22.3680,2.0

In [4]:
df['ID_Pedido'].head()

0    CA-2016-152156
1    CA-2016-152156
2    CA-2016-138688
3    US-2015-108966
4    US-2015-108966
Name: ID_Pedido, dtype: object

Ao analisarmos o ID_Pedido, verificamos que o mesmo é composto por 3 informações: O pais (com duas letras), o ano (4 digitos) e o número do pedido com 6 digitos.
Podemos dividir esses dados utilizando split. O resultado será uma lista com os elementos divididos.

In [ ]:
df['ID_Pedido'].str.split('-')

Note que o resultado apresenta uma lista... e cada elemento pode ser acessado pelo seu índice: 0, 1 ou 2.
Se quisermos extrair apenas o ano, utilizamos o índice 1.

In [ ]:
df['ID_Pedido'].str.split('-').str[1].head()

Vamos agora pegar esse resultado e gravar em uma nova coluna do DataFrame... chamada "Ano".

In [ ]:
df['Ano'] = df['ID_Pedido'].str.split('-').str[1]

In [ ]:
#Vamos conferir se a coluna foi criada...
df.head()

### Strip de Strings em DataFrames em Pandas
Remove caracteres da String

In [ ]:
df['Data_Pedido'].head()

Vamos supor que precisamos simplificar a data, e deixar o ano apenas com dois digitos... removendo os dois primeiros caracteres '20'.

In [ ]:
df['Data_Pedido'].str.lstrip('20')

Como dito anteriormente... os comandos do Pandas, não alteram os valores originais do dataframe.
Se quiser alterar, temos que utilizar o parâmetro inplace = True.

### Substituição de Strings em DataFrames Pandas (replace)
Podemos fazer a substituição de caracteres utilizando o método replace()

In [ ]:
df.head()

In [ ]:
df['ID_Cliente'] = df['ID_Cliente'].str.replace('CG', 'AX')

In [ ]:
df.head()

### Combinação de Strings em DataFrames Pandas
A função cat() pode ser utilizado para concatenar strings em um dataframe.
Vamos fazer a junção (concatenação) das colunas "ID_Pedido" e "Segmento"

In [ ]:
df['Pedido_Segmento'] = df['ID_Pedido'].str.cat(df['Segmento'], sep = '-')

In [ ]:
df.head()

### Construção de Gráficos a partir de DataFrames Pandas
Além de todos os processos de manipulação de dados, o Pandas também possui algumas funções para exibição de gráficos a partir de dataframes. Vamos ver alguns exemplos...

In [ ]:
# Vamos instalar a versão do Scikit-Learn para termos acesso ao dataset Iris
!pip install -q scikit-learn==1.2.1
import sklearn
sklearn.__version__

In [ ]:
#Vmos importar o dataset Iris
from sklearn.datasets import load_iris
data = load_iris()

In [ ]:
df_iris = pd.DataFrame(data['data'], columns = data['feature_names'])
df_iris['species'] = data['target']
df_iris.head()

In [ ]:
df_iris.plot()

In [ ]:
df_iris.plot.scatter(x = 'sepal length (cm)', y = 'sepal width (cm)')

In [ ]:
#Gráficos mais complexos, com área...
columns = ['sepal length (cm)', 'petal length (cm)', 'petal width (cm)', 'sepal width (cm)']
df_iris[columns].plot.area()

In [ ]:
# Calculando a média das colunas agrupadas pela coluna species e criando um gráfico de barras com o resultado
df_iris.groupby('species').mean().plot.bar()

In [ ]:
#Contagem das classes da coluna species e plotamos um gráfico de pizza
df_iris.groupby('species').count().plot.pie(y = 'sepal length (cm)')

## Fim